 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    background-color: #ffffff;
    color: #383838;
    background-image: url("portfolio1.jpeg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}



h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 500px;
}
img{
    margin-left: 1000px;
    margin-top: 0px;
}
div{
    display: block;
    align-items: center;
    
}
