* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: #f90fba;
    padding: 25px 25px;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #ffe26e;
    color: #0e0303;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.cta-button {
    background: #fff;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.about, .services, footer {
    padding: 40px 20px;
    text-align: center;
}

.services {
    background: #f4d0eb;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #ec0de8;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background: #f90fba;
    color: #fff;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-media a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #007bff;
}

